In [ ]:
TASK 2: The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. 
        Replace the missing values by running average.

In [29]:
project_Dataframe = [
    ['ID','Project','Cost','Status'], ['A001','Project 1','1002000','Finished'], ['A002','Project 2','2000000','Ongoing'],
    ['A003','Project 3','4500000','Finished'], ['A004','Project 4','5500000','Ongoing'], ['A005','Project 5','np.nan','Finished'], 
    ['A002','Project 6','6800000','Failed'], ['A005','Project 7','400000','Finished'], ['A003','Project 8','350000','Failed'],
    ['A001','Project 9','np.nan','Ongoing'],['A003','Project 10','300000','Finished'], ['A001','Project 11','2000000','Failed'],
    ['A004','Project 12','1000000','Ongoing'], ['A004','Project 13','3000000','Finished'], ['A005','Project 14','200000','Finished']
]
columns = project_Dataframe[0]
data = project_Dataframe[1:]
df = pd.DataFrame(data, columns=columns)

df['Cost'] = pd.to_numeric(df['Cost'], errors='coerce')

average_cost = df['Cost'].mean()

df["Cost"] = df["Cost"].fillna(average_cost)

df['Cost'] = df['Cost'].round(2)

print(df[df['Project'].isin(['Project 5', 'Project 9'])])

     ID    Project        Cost    Status
4  A005  Project 5  2254333.33  Finished
8  A001  Project 9  2254333.33   Ongoing

In [36]:
import os
import csv
project_Dataframe = [
    ['ID','Project','Cost','Status'], ['A001','Project 1','1002000','Finished'], ['A002','Project 2','2000000','Ongoing'],
    ['A003','Project 3','4500000','Finished'], ['A004','Project 4','5500000','Ongoing'], ['A005','Project 5','2254333','Finished'], 
    ['A002','Project 6','6800000','Failed'], ['A005','Project 7','400000','Finished'], ['A003','Project 8','350000','Failed'],
    ['A001','Project 9','2254333','Ongoing'],['A003','Project 10','300000','Finished'], ['A001','Project 11','2000000','Failed'],
    ['A004','Project 12','1000000','Ongoing'], ['A004','Project 13','3000000','Finished'], ['A005','Project 14','200000','Finished']
]
employee_Dataframe = [
    ['ID','Name','Gender','city','Age'], ['A001','John_Alter','M','Paris','25'], ['A002','Alice_Luxumberg','F','London','27'],
    ['A003','Tom_Sabestine','M','Berlin','29'], ['A004','Nina_Adgra','F','Newyork','31'], ['A005','Amy_Johny','F','Madrid','30']
]
seniority_Level_DataFrame = [
    ['ID','Designation_Level'], ['A001','2'], ['A002','2'], ['A003','3'], ['A004','2'], ['A005','3']
]

In [ ]:
TASK 1: Please make three dataframe in python and save them as three .csv files

In [37]:
file_path1 = os.path.join("C:", os.sep, "Users", "prasa", "Project_DataFrame.csv")
file_path2 = os.path.join("C:", os.sep, "Users", "prasa", "Employee_DataFrame.csv")
file_path3 = os.path.join("C:", os.sep, "Users", "prasa", "Seniority_Level_DataFrame.csv")
# Make sure the directory exists
os.makedirs(os.path.dirname(file_path1), exist_ok=True)
with open(file_path1, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(project_Dataframe)

os.makedirs(os.path.dirname(file_path2), exist_ok=True)
with open(file_path2, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(employee_Dataframe)
    
os.makedirs(os.path.dirname(file_path3), exist_ok=True)
with open(file_path3, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(seniority_Level_DataFrame)

In [ ]:
TASK 3:Split the name column in the Employee dataframe into two new columns “First Name”, and “Last Name” and remove the older “name” column.

In [39]:
import pandas as pd
df_employee = pd.read_csv("Employee_DataFrame.csv")
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split('_', expand=True)
df_employee.drop('Name', axis=1, inplace=True)
print(df_employee.head())

     ID Gender     city  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [ ]:
TASK 4: Join all three dataframes in one single dataframe. Name it “Final”

In [52]:
import pandas as pd

# Load your CSVs
df_project = pd.read_csv("Project_DataFrame.csv")
df_employee = pd.read_csv("Employee_DataFrame.csv")
df_seniority = pd.read_csv("Seniority_Level_DataFrame.csv")
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split('_', expand=True)
df_employee.drop('Name', axis=1, inplace=True)
merged_1 = pd.merge(df_project, df_employee, on='ID', how='left')
Final = pd.merge(merged_1, df_seniority, on='ID', how='left')
print(Final.to_string(index=False))

  ID    Project    Cost   Status Gender    city  Age First Name Last Name  Designation_Level
A001  Project 1 1002000 Finished      M   Paris   25       John     Alter                  2
A002  Project 2 2000000  Ongoing      F  London   27      Alice Luxumberg                  2
A003  Project 3 4500000 Finished      M  Berlin   29        Tom Sabestine                  3
A004  Project 4 5500000  Ongoing      F Newyork   31       Nina     Adgra                  2
A005  Project 5 2254333 Finished      F  Madrid   30        Amy     Johny                  3
A002  Project 6 6800000   Failed      F  London   27      Alice Luxumberg                  2
A005  Project 7  400000 Finished      F  Madrid   30        Amy     Johny                  3
A003  Project 8  350000   Failed      M  Berlin   29        Tom Sabestine                  3
A001  Project 9 2254333  Ongoing      M   Paris   25       John     Alter                  2
A003 Project 10  300000 Finished      M  Berlin   29        Tom Sabestine                  3
A001 Project 11 2000000   Failed      M   Paris   25       John     Alter                  2
A004 Project 12 1000000  Ongoing      F Newyork   31       Nina     Adgra                  2
A004 Project 13 3000000 Finished      F Newyork   31       Nina     Adgra                  2
A005 Project 14  200000 Finished      F  Madrid   30        Amy     Johny                  3

In [ ]:
TASK 5:Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project 
cost only to employees who have finished the projects.

In [53]:
Final['Bonus'] = Final['Status'].apply(
    lambda status: 0.05 if status == 'Finished' else 0
) * Final['Cost']
Final['Bonus'] = Final['Bonus'].round(2)
print(Final[['ID', 'Project', 'Cost', 'Status','Gender','city','Age','First Name','Last Name','Designation_Level', 'Bonus']])
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

      ID     Project     Cost    Status Gender     city  Age First Name  Last Name  Designation_Level      Bonus
0   A001   Project 1  1002000  Finished      M    Paris   25       John      Alter                  2   50100.00
1   A002   Project 2  2000000   Ongoing      F   London   27      Alice  Luxumberg                  2       0.00
2   A003   Project 3  4500000  Finished      M   Berlin   29        Tom  Sabestine                  3  225000.00
3   A004   Project 4  5500000   Ongoing      F  Newyork   31       Nina      Adgra                  2       0.00
4   A005   Project 5  2254333  Finished      F   Madrid   30        Amy      Johny                  3  112716.65
5   A002   Project 6  6800000    Failed      F   London   27      Alice  Luxumberg                  2       0.00
6   A005   Project 7   400000  Finished      F   Madrid   30        Amy      Johny                  3   20000.00
7   A003   Project 8   350000    Failed      M   Berlin   29        Tom  Sabestine                  3       0.00
8   A001   Project 9  2254333   Ongoing      M    Paris   25       John      Alter                  2       0.00
9   A003  Project 10   300000  Finished      M   Berlin   29        Tom  Sabestine                  3   15000.00
10  A001  Project 11  2000000    Failed      M    Paris   25       John      Alter                  2       0.00
11  A004  Project 12  1000000   Ongoing      F  Newyork   31       Nina      Adgra                  2       0.00
12  A004  Project 13  3000000  Finished      F  Newyork   31       Nina      Adgra                  2  150000.00
13  A005  Project 14   200000  Finished      F   Madrid   30        Amy      Johny                  3   10000.00

In [ ]:
TASK 6; Demote the designation level by 1, whose projects have status “fail”. Delete the 
employees record whose designation level is above 4.

In [50]:
import pandas as pd

Final['Designation_Level'] = pd.to_numeric(Final['Designation_Level'], errors='coerce')
Final.loc[Final['Status'] == 'Failed', 'Designation_Level'] -= 1
Final = Final[Final['Designation_Level'] <= 4]
Final.reset_index(drop=True, inplace=True)
print(Final)

      ID     Project     Cost    Status Gender     city  Age First Name  Last Name  Designation_Level      Bonus
0   A001   Project 1  1002000  Finished      M    Paris   25       John      Alter                  2   50100.00
1   A002   Project 2  2000000   Ongoing      F   London   27      Alice  Luxumberg                  2       0.00
2   A003   Project 3  4500000  Finished      M   Berlin   29        Tom  Sabestine                  3  225000.00
3   A004   Project 4  5500000   Ongoing      F  Newyork   31       Nina      Adgra                  2       0.00
4   A005   Project 5  2254333  Finished      F   Madrid   30        Amy      Johny                  3  112716.65
5   A002   Project 6  6800000    Failed      F   London   27      Alice  Luxumberg                  0       0.00
6   A005   Project 7   400000  Finished      F   Madrid   30        Amy      Johny                  3   20000.00
7   A003   Project 8   350000    Failed      M   Berlin   29        Tom  Sabestine                  1       0.00
8   A001   Project 9  2254333   Ongoing      M    Paris   25       John      Alter                  2       0.00
9   A003  Project 10   300000  Finished      M   Berlin   29        Tom  Sabestine                  3   15000.00
10  A001  Project 11  2000000    Failed      M    Paris   25       John      Alter                  0       0.00
11  A004  Project 12  1000000   Ongoing      F  Newyork   31       Nina      Adgra                  2       0.00
12  A004  Project 13  3000000  Finished      F  Newyork   31       Nina      Adgra                  2  150000.00
13  A005  Project 14   200000  Finished      F   Madrid   30        Amy      Johny                  3   10000.00

In [ ]:
TASK 8: Promote designation level by 1 for the employees whose age is more than 29 years using 
IF condition.

In [20]:
import pandas as pd

# Step 1: Create the DataFrame
Final = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8',
                'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, 2254333, 6800000, 400000, 350000,
             2254333, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed',
               'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished'],
    'Gender': ['M', 'F', 'M', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'F'],
    'city': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid', 'London', 'Madrid', 'Berlin',
             'Paris', 'Berlin', 'Paris', 'Newyork', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30, 27, 30, 29, 25, 29, 25, 31, 31, 30],
    'First Name': ['John', 'Alice', 'Tom', 'Nina', 'Amy', 'Alice', 'Amy', 'Tom',
                   'John', 'Tom', 'John', 'Nina', 'Nina', 'Amy'],
    'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny', 'Luxumberg', 'Johny', 'Sabestine',
                  'Alter', 'Sabestine', 'Alter', 'Adgra', 'Adgra', 'Johny'],
    'Designation_Level': [2, 2, 3, 2, 3, 0, 3, 1, 2, 3, 0, 2, 2, 3],
    'Bonus': [50100.00, 0.00, 225000.00, 0.00, 112716.65, 0.00, 20000.00, 0.00,
              0.00, 15000.00, 0.00, 0.00, 150000.00, 10000.00]
})

# Step 2: Promote designation level by 1 for employees older than 29
Final['Designation_Level'] = Final.apply(
    lambda row: row['Designation_Level'] + 1 if row['Age'] > 29 else row['Designation_Level'],
    axis=1
)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
# Step 3: Display the updated DataFrame
print(Final)

      ID     Project     Cost    Status Gender     city  Age First Name  Last Name  Designation_Level      Bonus
0   A001   Project 1  1002000  Finished      M    Paris   25       John      Alter                  2   50100.00
1   A002   Project 2  2000000   Ongoing      F   London   27      Alice  Luxumberg                  2       0.00
2   A003   Project 3  4500000  Finished      M   Berlin   29        Tom  Sabestine                  3  225000.00
3   A004   Project 4  5500000   Ongoing      F  Newyork   31       Nina      Adgra                  3       0.00
4   A005   Project 5  2254333  Finished      F   Madrid   30        Amy      Johny                  4  112716.65
5   A002   Project 6  6800000    Failed      F   London   27      Alice  Luxumberg                  0       0.00
6   A005   Project 7   400000  Finished      F   Madrid   30        Amy      Johny                  4   20000.00
7   A003   Project 8   350000    Failed      M   Berlin   29        Tom  Sabestine                  1       0.00
8   A001   Project 9  2254333   Ongoing      M    Paris   25       John      Alter                  2       0.00
9   A003  Project 10   300000  Finished      M   Berlin   29        Tom  Sabestine                  3   15000.00
10  A001  Project 11  2000000    Failed      M    Paris   25       John      Alter                  0       0.00
11  A004  Project 12  1000000   Ongoing      F  Newyork   31       Nina      Adgra                  3       0.00
12  A004  Project 13  3000000  Finished      F  Newyork   31       Nina      Adgra                  3  150000.00
13  A005  Project 14   200000  Finished      F   Madrid   30        Amy      Johny                  4   10000.00

In [ ]:
TASK 9: Add the cost of all projects for each Employee and save it in new dataframe 
“TotalProjCost” with three columns ID, First Name, and Total cost

In [29]:
import pandas as pd
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
TotalProjCost.rename(columns={'Cost': 'Total Cost'}, inplace=True)
print(TotalProjCost)

     ID  First Name  Total Cost
0  A001    Mr. John     5256333
1  A002  Mrs. Alice     8800000
2  A003     Mr. Tom     5150000
3  A004   Mrs. Nina     9500000
4  A005    Mrs. Amy     2854333

In [ ]:
TASK 10:Print all the employee details whose city name contains the letter “o” in it.

In [28]:
employees_with_o = Final[Final['city'].str.contains('o', case=False)]
print(employees_with_o.to_string())

      ID     Project     Cost    Status     city  Age  First Name  Last Name  Designation_Level     Bonus
1   A002   Project 2  2000000   Ongoing   London   27  Mrs. Alice  Luxumberg                  2       0.0
3   A004   Project 4  5500000   Ongoing  Newyork   31   Mrs. Nina      Adgra                  2       0.0
5   A002   Project 6  6800000    Failed   London   27  Mrs. Alice  Luxumberg                  0       0.0
11  A004  Project 12  1000000   Ongoing  Newyork   31   Mrs. Nina      Adgra                  2       0.0
12  A004  Project 13  3000000  Finished  Newyork   31   Mrs. Nina      Adgra                  2  150000.0